.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallaxGroup {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
	text-align: center;
}

.parallaxLayer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.parallaxLayerSearch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.blackFloorboard {
	top: 100;
	height: 40px;
	width: 100%;
	background-color: black;
}
.skyGradient {
	position: absolute;
	top: -630px;
	right: 0;
	left: 0;
	height: 340px;
	transform: translateZ(-2.2px) scale(3.2);
	z-index: -1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d0e49+0,a65dad+100 */
	background: #1d0e49; /* Old browsers */
	background: -moz-linear-gradient(top, #1d0e49 0%, #a65dad 100%); // FF3.6-15
	background: -webkit-linear-gradient(top, #1d0e49 0%, #a65dad 100%); // Chrome10-25,Safari5.1-6
	background: linear-gradient(
		to bottom,
		#1d0e49 0%,
		#a65dad 100%
	); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#1d0e49',
			endColorstr='#a65dad',
			GradientType=0
		); // IE6-9
}

.heading {
	font-weight: 500;
	font-size: 60px;
}

.restaurant {
	height: 300px;
}

.restaurantContainer {
	height: 100px;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	transition: transform 0.2s;
}
.restaurantContainer:hover {
	transform: scale(1.1);
}

.restaurantImage {
	float: left;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.restaurantInfo {
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: flex-start;
	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.7);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	.innerContainer {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.restaurantButton:hover {
	cursor: pointer;
}
