@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:500');

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	.parallaxGroup {
		position: relative;
		height: 100vh;
		transform-style: preserve-3d;
		text-align: center;
		.parallaxLayer {
			position: absolute;
			padding: 170px 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

.heading {
	font-family: 'Encode Sans Expanded', sans-serif;
	font-weight: 500;
	font-size: 60px;
}
